{% extends "canvas/base.html" %}

{% block content%}
<section class="mt-10 grid grid-cols-3 gap-10 text-center">
    <div class="col-span-2 space-y-10">
        <div class="pb-5">
            <p class="mb-5 text-lg font-semibold">About Us</p>
            <p>The 3D Art and CGI Club at Georgia State University is a space for students to create artwork and
                animations in 3D Design spaces, develop their skills, and make connections with other 3D digital
                artists.</p>
        </div>
        <div class="pb-5">
            <p class="my-5 text-lg font-semibold">Organization Purpose Statement:</p>
            <p>The 3D Art and CGI Club at Georgia State University aims to support 3D artists, helping them form a
                community and network of support for developing their portfolio and career.</p>
        </div>
    </div>
    <div>
        <!-- <div>Info
            <p></p>
        </div> -->

        <div>
            <p class="text-lg font-semibold mb-4 text-left">Contact</p>
            <ul class="space-y-4 text-left">
                <li>Email: cgiand3dartatgsu@gmail.com</li>
                <li>Insta: instagram.com/cgiand3dartatgsu</li>
            </ul>
        </div>
    </div>
</section>

{% endblock content%}