{% extends "canvas/base.html" %}

{% block content%}
<section class="mt-10 grid grid-cols-3 gap-10 text-center">
    <div class="col-span-2 space-y-10">
        <div class="pb-5">
            <p class="mb-5 text-lg font-semibold">About</p>
            <p>The 3D Art and CGI Club at Georgia State University is a space for students to create artwork and
                animations in 3D Design spaces, develop their skills, and make connections with other 3D digital
                artists.</p>
        </div>
        <div class="pb-5">
            <p class="my-5 text-lg font-semibold">Organization Purpose Statement:</p>
            <p>The 3D Art and CGI Club at Georgia State University aims to support 3D artists, helping them form a
                community and network of support for developing their portfolio and career.</p>
        </div>
    </div>
    <div>
        <div class="text-left">
            <p class="text-lg font-semibold pb-6">Contact</p>
            <div class="pb-6">
                <p class="font-semibold">Email:</p>
                <p>cgiand3dartatgsu@gmail.com</p>
            </div>
            <div class="pb-6">
                <p class="font-semibold">Discord:</p>
                <p>discord.gg/4qGvtP5pE9</p>
            </div>
            <div class="pb-6">
                <p class="font-semibold">Instagram:</p>
                <p>instagram.com/cgiand3dartatgsu</p>
            </div>
        </div>
    </div>
</section>

{% endblock content%}