{% extends "canvas/base.html" %}

{% block content %}
<section class="grid grid-cols-3 gap-5 mt-5">
    <div class="col-span-2">
        {% for post in posts %}
        <div class="border-2 rounded-lg p-3 mb-4 bg-white">
            <div class="flex items-center mb-1">
                <img class="rounded-full h-7 w-7 my-1" src="{{ post.author.profile.image.url }}" alt="">
                <a class="mx-3" href="">{{ post.author }}</a>
                <small>{{ post.date_posted|date:"M d, Y" }}</small>
            </div>
            <hr>
            <h1 class="text-3xl my-2">{{ post.title }}</h1>
            <p class="mb-2">{{ post.content }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="col-span-1 self-start p-4 border-2 rounded-lg bg-white ">
        <h3 class="text-2xl">Our Sidebar</h3>
        <p class="text-sm text-gray-500">You can put any information here you'd like.</p>
        <div class="mt-4 border border-gray-300 shadow-sm">
            <ul class=" divide-y divide-gray-200 bg-gray-50">
                <li class="p-3 text-gray-400">Latest Posts</li>
                <li class="p-3 text-gray-400">Announcements</li>
                <li class="p-3 text-gray-400">Calendars</li>
                <li class="p-3 text-gray-400">Etc.</li>
            </ul>
        </div>
        <ul class="mt-5 divide-y divide-gray-200 bg-gray-50 border-slate-500 border">
            <li class="p-3 text-gray-400">Img Upload</li>
        </ul>
    </div>
</section>
{% endblock content %}