{% extends "canvas/base.html" %}

{% block content %}
<!-- <div class="grid md:grid-cols-4 grid-cols-2 gap-4 mt-5">
    {% for image in images%}
        <a href=""><img src="{{ image.image.url }}" alt="hello"></a>
        <img src="{{ image.image.url }}" alt="hello">
    {% endfor %}
</div> -->
<div class="grid md:grid-cols-3 grid-cols-2 gap-4 mt-5">
    {% for image in images %}
    <img src="{{ image.image.url }}" alt="" class="cursor-pointer"
        onclick="openImagePopup('{{ image.image.url }}', '{{ image.pk }}')">
    {% endfor %}
</div>

<!-- Full-size image popup overlay -->
<div id="image-popup" class="fixed inset-3 flex items-center bg-black bg-opacity-75 justify-center hidden"
    onclick="closeImagePopup()">
    <img id="popup-image" class="max-w-full max-h-full">
    <button onclick="closeImagePopup()" class="absolute top-5 right-5 text-white text-3xl font-bold">&#9746;</button>
    <a id="popup-link" class="absolute right-5 text-white text-3xl font-bold" href="">&#128269;</a>
</div>

<!-- JavaScript for handling popup -->
<script>
    function openImagePopup(imageUrl, imagePk) {
        const popup = document.getElementById('image-popup');
        const popupImage = document.getElementById('popup-image');
        const popupPk = document.getElementById('popup-link');

        popupImage.src = imageUrl;

        popup.classList.remove('hidden');
        popupPk.href = `/image/${imagePk}`;

        mainContent.classList.add('pointer-events-none'); // Disable background interactions

    }

    function closeImagePopup() {
        const popup = document.getElementById('image-popup');
        popup.classList.add('hidden');
        mainContent.classList.remove('pointer-events-none'); // Enable background interactions

    }
</script>



<!-- Pagination -->
<div>
    {% if is_paginated %}
            {% if page_obj.has_previous %}
                <!-- <a class="border-2" href="?page=1">First</a> -->
                <a class="border-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
<!-- Not enough posts for this to be shown. can uncommet if there's alot of post -->
            <!-- {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="border-2 text-slate-700" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="border-2 text-slate-500" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %} -->

            {% if page_obj.has_next %}
                <a class="border-2" href="?page={{ page_obj.next_page_number }}">Next</a>
                <!-- <a class="border-2" href="?page={{ page_obj.paginator.num_pages }}">Last</a> -->
            {% endif %}
        <!-- <div class="w-full text-center"></div> -->
        {% endif %}
</div>
{% endblock content %}